body {
  margin: 0;
  padding: 0;

  font-size: 16px;
  line-height: 22px;
  font-weight: 400;
  font-family: "Roboto", "Arial", sans-serif;
  color: #ffffff;

  background-color: #849d8f;
}

.slider-title h1 {
  font-size: 60px;
  line-height: 60.35px;
  font-weight: 700;
  color: #ffffff;
}

.about-shop h2 {
  margin: 0;
  margin-bottom: 7px;

  font-size: 24px;
  line-height: 30px;
  font-weight: 500;
  color: #323232;
}

.background {
  background-color: #849d8f;
  background-image: url("../img/header_backlight.png");
  background-repeat: repeat-x;
}

.container {
  min-width: 900px;
  max-width: 1200px;
  margin: 0 auto;
}

.container-inner {
  padding: 0 2.3%;
}

.clearfix::after {
  content: "";
  display: table;
  clear: both;
}

.main-header {
  padding-top: 9px;
}

.header-logo {
  float: left;
  width: 154px;
  margin-left: -2px;
  margin-right: 10px;
}

.main-navigation,
.navigation-inner {
  float: left;
  min-width: 340px;
  min-height: 70px;
}

.user-block {
  position: relative;
  float: right;
  min-width: 271px;
}

.busy-hours {
  float: right;
  width: 170px;
  margin-top: 14px;
  clear: right;

  text-align: right;
}

.hours {
  font-size: 14px;
  line-height: 16px;
  font-weight: 500;
  color: #ffffff;
}

.phone {
  font-size: 22px;
  line-height: 24px;
  font-weight: 700;
  color: #ffffff;
}

.main-navigation a {
  position: relative;

  display: inline-block;
  margin-top: 14px;
  padding: 7px 14px;

  font-size: 16px;
  line-height: 18px;
  font-weight: 700;
  text-decoration: none;
  color: #ffffff;

  vertical-align: top;
}

.main-navigation a::after {
  content: "";
  position: absolute;
  bottom: 6px;
  left: 14px;
  right: 14px;

  height: 1px;
  box-sizing: border-box;

  background-color: rgba(255, 255, 255, 0.3);
}

.main-header ul {
  margin: 0;
  padding: 0;

  font-size: 0;

  list-style: none;
}

.main-navigation li {
  display: inline-block;
  vertical-align: top;
}

.topmenu a:hover,
.navigation-inner a:hover {
  font-size: 16px;
  line-height: 18px;
  font-weight: 700;
  text-decoration: none;
  color: #333333;

  background: #ffffff;
  border-radius: 20px;
}

.topmenu a:active,
.navigation-inner a:active {
  background: #ededed;
  box-shadow: inset 0 2px 1px #696969;
}

.submenu-item {
  position: relative;
}

.submenu {
  position: absolute;
  top: 52px;

  display: none;
  width: 143px;
  height: 172px;

  list-style: none;

  background: #f8f7f4;
  border-radius: 5px;
  box-shadow: 0 20px 20px 0 rgba(0, 0, 0, 0.4);
}

.submenu::before {
  content: "";
  position: absolute;
  top: -10px;

  display: block;
  width: 80px;
  height: 10px;
}

.submenu a::after,
.submenu a:hover::after,
.submenu a:active::after {
  display: none;
}

.submenu li {
  display: block;
}

.submenu li:first-child::after {
  content: "";
  position: absolute;
  top: 38px;
  left: 6px;

  width: 131px;

  border-bottom: 1px solid #d1d0ce;
}

.submenu-header {
  display: block;
  margin-bottom: 7px;
  padding: 12px 14px 10px;

  font-size: 14px;
  line-height: 16px;
  font-weight: 700;
  color: #323232;
}

.submenu a {
  display: block;
  margin-top: 0;
  padding-top: 7px;
  padding-bottom: 7px;
  padding-left: 14px;

  font-size: 14px;
  line-height: 16px;
  font-weight: 400;
  text-decoration: none;
  color: #323232;
}

.submenu a:hover {
  font-size: 14px;
  line-height: 16px;
  font-weight: 400;
  color: #323232;

  background: #fbded7;
  border-radius: 0px;
}

.submenu a:active {
  background: #f6b5a5;
  box-shadow: none;
}

.current-page {
  text-decoration: none;

  background: #d07058;
  border-radius: 20px;
}

.current-page::after {
  display: none;
}

.submenu-item:hover .submenu {
  display: block;
}

.submenu .active a {
  color: #ffffff;
  background: #d07058;
}

.user-block a {
  font-size: 14px;
  line-height: 16px;
  font-weight: 400;
  color: #ffffff;
  text-decoration: none;
}

.user-block li {
  display: inline-block;
  margin-top: 15px;
  margin-left: 10px;

  vertical-align: middle;

  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 22px;
}

.search {
  position: relative;

  display: block;
  width: 32px;
  height: 32px;
  padding: 0;
  box-sizing: border-box;

  background-image: url("../img/sprite.png");
  background-position: -468px 0px;
  background-repeat: no-repeat;
  border-radius: 50%;
}

.user-search:hover .search-block {
  display: block;
}

.search:hover {
  background-color: #f8f7f4;
  background-image: url("../img/sprite.png");
  background-position: -193px -3px;
  background-repeat: no-repeat;
}

.search-block {
  position: absolute;
  top: 52px;
  left: -299px;

  display: none;
  width: 342px;
  height: 86px;
  padding: 20px;
  box-sizing: border-box;

  background-color: #f8f7f4;
  border-radius: 5px;
  box-shadow: 0 20px 20px 0 rgba(0, 0, 0, 0.4);
}

.search-block::before {
  content: "";
  position: absolute;
  top: -10px;
  right: 0;

  display: block;
  width: 80px;
  height: 10px;
}

.search-form {
  width: 100%;
  height: 42px;
  padding-left: 15px;

  font-size: 14px;
  line-height: 24px;
  font-weight: 400;
  color: #323232;

  background: #ffffff;
  border: 1px solid #d3d3d2;
  border-radius: 5px;
  outline: none;
}

input:focus,
textarea:focus {
  border: 2px solid #8fbdec;
  outline: none;
}

input:focus + .label-box label,
textarea:focus + .label-box label {
  font-size: 11px;
  line-height: 13px;
  color: #5b9ddf;

  -webkit-transform: translateY(-26px);
  transform: translateY(-26px);

  cursor: default;
}

.label-box {
  position: relative;

  width: 200px;

  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  color: #999999;
}

.label-box > label {
  position: absolute;
  top: -32px;
  left: 14px;

  font-weight: 400;

  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
}

.lostfocus {
  font-size: 11px;
  color: #999999;

  -webkit-transform: translateY(-32px);
  transform: translateY(-32px);

  cursor: default;
}

input:hover {
  border: 2px solid #d3d3d2;
  outline: none;
  }

.user-block li:nth-child(2) {
  padding-top: 8px;
  padding-left: 45px;
  padding-right: 15px;
}

.user-block li:nth-child(2)::before {
  content: "";
  position: absolute;
  top: 21px;
  left: 67px;

  width: 23px;
  height: 23px;

  background-image: url("../img/sprite.png");
  background-position: -502px -7px;
  background-repeat: no-repeat;
}

.user-block li:nth-child(2):hover {
  background-color: #f8f7f4;

  cursor: pointer;
}

.user-block li:nth-child(2):hover a {
  color: #323232;
}

.user-block li:nth-child(2):hover::before {
  background-position: -227px -8px;
}

.user-block li:nth-child(3):hover {
  cursor: pointer;
}

.user-block li:nth-child(3) {
  padding-top: 8px;
  padding-right: 35px;
  padding-left: 44px;

  background: rgba(255, 255, 255, 0.2);
}

.inner-block li:nth-child(3) {
  padding-top: 7px;
  padding-right: 15px;
  padding-bottom: 1px;
  padding-left: 46px;

  background: rgba(255, 255, 255, 1);
}

.user-block li:nth-child(3) a {
  font-size: 14px;
  line-height: 16px;
  font-weight: 500;
  color: #ffffff;
}

.inner-block li:nth-child(3) a {
  font-size: 14px;
  line-height: 16px;
  font-weight: 500;
  color: #323232;
}

.user-block li:nth-child(3)::before {
  content: "";
  position: absolute;
  top: 20px;
  left: 169px;

  width: 25px;
  height: 20px;

  background-image: url("../img/sprite.png");
  background-position: -538px -7px;
  background-repeat: no-repeat;
}

.inner-block li:nth-child(3)::before {
  background-position: -262px -8px;
}

.login-block {
  position: absolute;
  z-index: 100;
  top: 52px;
  left: -133px;

  display: none;
  width: 277px;
  height: 215px;
  padding: 20px;
  box-sizing: border-box;

  background-color: #f8f7f4;
  border-radius: 5px;
  box-shadow: 0 20px 20px 0 rgba(0, 0, 0, 0.4);
}

.login-block::before {
  content: "";
  position: absolute;
  top: -10px;

  right: 0;
  display: block;
  width: 80px;
  height: 10px;
}

.user-block li:nth-child(2):hover .login-block {
  display: block;
}

.login-block input[type = "email"],
.login-block input[type = "password"] {
  width: 100%;
  height: 42px;
  margin-bottom: 20px;
  padding-left: 15px;
  box-sizing: border-box;

  font-size: 14px;
  line-height: 24px;
  font-weight: 400;
  color: #323232;

  background: #ffffff;
  border: 1px solid #d3d3d2;
  border-radius: 5px;
  outline: none;
}

.login-block .label-box > label {
  top: -52px;
}

.user-block .btn-login {
  padding: 10px 22px;

  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
  color: #fefefe;

  border-style: none;
  box-shadow: 0 1px 2px #ac1000;
}

.login-forget {
  display: block;
  float: right;
  width: 120px;
}

.login-forget a {
  font-size: 13px;
  line-height: 18px;
  font-weight: 400;
  color: #323232;

  border-bottom: 1px solid rgba(50, 50, 50, 0.3);
}

.user-block .login-forget a.login-ref:hover,
.user-block .login-forget a.login-ref:active {
  color: #e84d37;

  border-bottom: 1px solid rgba(232, 77, 55, 0.3);
}

.card-block {
  position: absolute;
  top: 52px;
  right: 0;
  z-index: 100;

  display: none;
  width: 540px;
  min-height: 242px;
  padding: 20px 15px;
  box-sizing: border-box;

  background-color: #f8f7f4;
  border-radius: 10px;
  box-shadow: 0 20px 20px 0 rgba(0, 0, 0, 0.4);
}

.card-block::before {
  content: "";
  position: absolute;
  top: -10px;
  right: 0;

  display: block;
  width: 80px;
  height: 10px;
}

.user-block li:nth-child(3):hover .card-block {
  display: block;
}

.card-block img {
  border-radius: 50%;
}

.user-card {
  display: table;

  text-align: left;

  border-bottom: 1px solid #cacac7;
}

.row-card {
  display: table-row;
  height: 55px;
}

.cell-card {
  display: table-cell;
  padding-top: 9px;
  padding-right: 14px;

  vertical-align: top;
}

.cell-card:nth-child(2),
.cell-card:nth-child(7) {
  padding-top: 0;
}

.cell-card:nth-child(3),
.cell-card:nth-child(8) {
  width: 220px;
  padding-right: 0;
}

.cell-card:nth-child(4),
.cell-card:nth-child(9) {
  padding-right: 27px;
  padding-left: 23px;
}

.card-cross {
  display: block;
  width: 17px;
  height: 17px;

  background-image: url("../img/sprite.png");
  background-position: -455px -4px;
  background-repeat: no-repeat;
}

.text-card,
.text-card-price {
  margin: 0;
  padding: 0;

  font-size: 13px;
  line-height: 16px;
  font-weight: 400;
  color: #323232;
}

.text-card-price {
  opacity: 0.6;
}

.text-card-buy {
  display: block;
  float: right;
  margin-top: 15px;

  font-size: 15px;
  line-height: 18px;
  font-weight: 700;
  color: #323232;
}

.card-block .btn-card {
  position: absolute;
  right: 15px;
  bottom: 20px;

  display: block;
  padding: 10px 12px;

  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
  color: #fefefe;

  border-style: none;
  border-radius: 20px;
  text-shadow: none;
  outline: none;
}

.input-slider {
  display: none;
}

.slider {
  position: relative;
}

.slide {
  display: none;
  margin-bottom: 52px;
}

.slider-title {
  width: 685px;
  margin-top: 274px;
  margin-right: auto;
  margin-left: auto;

  text-align: center;
}

.slider-control {
  position: absolute;
  top: 173px;
}

.control-label {
  display: inline-block;
  width: 17px;
  height: 17px;
  margin-right: 4px;

  vertical-align: top;

  background-color: transparent;
  border: 2px solid #fefefe;
  border-radius: 50%;

  cursor: pointer;
}

.control-label:hover {
  background-color: rgba(255, 255, 255, 0.4);
}

#slider-one:checked ~ .background label[for="slider-one"],
#slider-two:checked ~ .background label[for="slider-two"],
#slider-three:checked ~ .background label[for="slider-three"] {
  background-color: #ffffff;
}

#slider-one:checked ~ .background #first-slide,
#slider-two:checked ~ .background #second-slide,
#slider-three:checked ~ .background #third-slide {
  display: block;
}

#slider-one:checked ~ .background {
  background-color: #849d8f;
  background-image: url("../img/header_backlight.png"), url("../img/first_slide.png");
  background-position: top, top center;
  background-repeat: repeat-x, no-repeat;
}

#slider-two:checked ~ .background {
  background-color: #8996a6;
  background-image: url("../img/header_backlight.png"), url("../img/second_slide.png");
  background-position: top, top center;
  background-repeat: repeat-x, no-repeat;
}

#slider-three:checked ~ .background {
  background-color: #9d8b84;
  background-image: url("../img/header_backlight.png"), url("../img/third_slide.png");
  background-position: top, top center;
  background-repeat: repeat-x, no-repeat;
}

.slider-btn {
  width: 278px;
  margin: 0 auto;
}

.btn {
  text-decoration: none;

  text-shadow: 0 2px 5px rgba(160, 32, 11, 0.76);

  background-image: linear-gradient(to top, #e74a35, #f26843);
  border-radius: 35px;
  box-shadow: 0 2px 2px 0 rgba(172, 16, 0, 0.64);
}

.btn:hover{
  background-image: linear-gradient(to bottom, #f58669, #ec6f5e);
  box-shadow: 0 2px 2px rgba(172, 16, 0, 1);
}

.btn:active {
  background-image: linear-gradient(to bottom, #d84732, #e1613e);
  box-shadow: inset 0 2px 2px 0 rgba(148, 39, 24, 1);
}

.btn-slide {
  padding: 13px 40px;

  font-size: 32px;
  line-height: 44px;
  font-weight: 700;
  color: #ffffff;
}

.free {
  margin-bottom: 40px;
  min-height: 229px;
}

.free-title {
  font-size: 35px;
  line-height: 41px;
  color: #ffffff;
  font-weight: 700;
}

.free-jam {
  position: relative;

  float: left;
  width: 48.9%;
  min-height: 229px;
  padding: 16px 19px;
  box-sizing: border-box;

  background: #a04067 url("../img/raspberries_free.jpg") no-repeat;
  background-size: cover;
  border-radius: 14px;
}

.free-jam .btn {
  position: absolute;
  right: 21px;
  bottom: 23px;

  padding: 11px 23px;

  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
  color: #ffffff;
}

.free-chocolate {
  position: relative;
  float: right;
  box-sizing: border-box;

  width: 48.9%;
  min-height: 229px;
  padding: 16px 19px;

  background: #633e25 url("../img/chocolate_free.jpg") no-repeat;
  background-size: cover;
  border-radius: 14px;
}

.free-chocolate .btn {
  position: absolute;
  right: 20px;
  bottom: 24px;

  padding: 11px 22px;

  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
  color: #ffffff;
}

.free p {
  margin-top: 15px;
  margin-bottom: 60px;

  font-size: 18px;
  line-height: 22px;
  font-weight: 700;
  color: #ffffff;
}

.bestseller {
  margin-bottom: 37px;
}

.product {
  display: inline-block;

  vertical-align: top;
  text-align: center;
}

.bestseller-price {
  position: relative;

  float: left;
  width: 23.3%;
  margin-right: 2.2%;
  box-sizing: border-box;
}

.image-price {
  position: relative;

  margin-bottom: 8px;
}

.catalog-image-price {
  position: relative;

  margin-bottom: 7px;
}

.bestseller-mark {
  position: absolute;
  z-index: 10;

  width: 61px;
  height: 61px;

  background: url("../img/bestseller.png") no-repeat;
}

.bestseller-price img {
  max-width: 100%;

  border-radius: 50%;
}

.bestseller-price:nth-child(4n) {
  margin-right: 0;
}

.bestseller-price .btn-hide {
  display: none;
}

.about-shop {
  margin-bottom: 41px;
  padding: 22px 20px;

  color: #323232;

  background: #e8d7bb url("../img/waffle.jpg") no-repeat;
  background-size: cover;
  border-radius: 15px;
}

.about-shop ul {
  margin: 0;
  padding-left: 0;

  list-style: none;
}

.about-shop li {
  position: relative;

  float: left;
  width: 48.9%;
  margin-right: 2.2%;
}

.about-shop img {
  position: absolute;
  top: 5px;
}

.about-shop li:nth-child(even) {
  margin-right: 0;
}

.about-shop p {
  display: block;
  float: right;
  width: 100%;
  margin-bottom: 4px;
  padding-bottom: 0;
  padding-left: 56px;
  box-sizing: border-box;

  font-size: 16px;
  line-height: 22px;
  font-weight: 400;
  color: #323232;
}

.blog-subscribe {
  margin-bottom: 40px;
  color: #323232;
}

.blog {
  float: left;
  width: 48.9%;
  min-height: 220px;
  margin-right: 2.2%;
  padding: 22px 19px;
  box-sizing: border-box;

  color: #323232;

  background: #fefefe url("../img/blog_news.jpg") right bottom no-repeat;
  border-radius: 10px;
}

.blog p {
  margin: 0;
  margin-bottom: 5px;

  font-size: 16px;
  line-height: 22px;
  font-weight: 400;
}

.blog a {
  display: inline-block;
  width: 300px;

  font-size: 24px;
  line-height: 30px;
  font-weight: 700;
  vertical-align: top;
  color: #323232;
}

.blog a:hover,
.blog a:active {
  color: #ffbc9e;
}

.blog span {
  background-color: rgba(255,255,255, 0.8);
}

.subscribe {
  position: relative;
  float: right;
  width: 48.9%;
  min-height: 220px;
  padding: 5px;
  box-sizing: border-box;

  background: #f8f7f4 url("../img/post_pattern.jpg");
  border-radius: 10px;
}

.subscribe-solid {
  min-height: 210px;
  padding: 28px 22px;
  box-sizing: border-box;

  background-color: #f8f7f4;
  border-radius: 10px;
}

 .subscribe-solid .btn-send {
  position: absolute;
  bottom: 44px;
  right: 26px;
  padding: 9px 15px;

  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
  color: #ffffff;

  border-style: none;
}

.email-field .label-box > label {
  top: -54px;
}

.subscribe-text {
  margin-top: 0;
  margin-bottom: 55px;

  font-size: 16px;
  line-height: 22px;
  font-weight: 400;
  color: #5a5a5a;
}

.email-field {
  position: absolute;
  bottom: 21px;

  width: 91%;
  padding-right: 150px;
  box-sizing: border-box;
}

.email {
  width: 100%;
  height: 43px;
  margin-bottom: 20px;
  padding-left: 15px;
  box-sizing: border-box;

  font-size: 14px;
  line-height: 24px;
  font-weight: 400;
  color: #323232;

  background: #ffffff;
  border: 1px solid #d3d3d2;
  border-radius: 5px;
  outline: none;
}

.map {
  position: relative;

  height: 430px;
  margin-bottom: -5px;

  background: url("../img/map.jpg");
  background-position: 50% 50%;
  background-repeat: no-repeat;
}

.supporting {
  position: absolute;
  top: 0;

  width: 100%;
  min-height: 430px;
}

.supporting .container {
  position: relative;

  width: 100%;
  height: 430px;
  margin: 0 auto;
}

.yandex-map {
  position: relative;
  z-index: 1;
}

.yandex-map iframe {
  width: 100%;
  height: 430px;
  border-style: none;
}

@keyframes bounce {
  0%   {
    transform: translateY(-2000px);
  }
  100% {
    transform: translateY(0);
  }
}

@keyframes shake {
  0%, 100% {
    transform: translateX(0);
  }
  10%, 30%, 50%, 70%, 90% {
    transform: translateX(-10px);
  }
  20%, 40%, 60%, 80% {
    transform: translateX(10px);
  }
}

.btn-feedback {
  position: absolute;
  left: 27px;
  bottom: 30px;

  display: block;
  padding: 10px 27px;

  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
  color: #323232;
}

.feedback-hidden {
  position: fixed;
  top: 50%;
  left: 50%;
  z-index: 100;

  display: none;
  width: 478px;
  height: 443px;
  margin-top: -221px;
  margin-left: -239px;
  padding: 19px 25px 25px 25px;
  box-sizing: border-box;

  background: #f8f7f4;
  border-radius: 10px;
}

.feedback-hidden .feedback-title {
  display: block;
  margin-bottom: 17px;

  font-size: 24px;
  line-height: 28px;
  font-weight: 500;
  color: #323232;
}

.feedback-hidden-show {
  display: block;
  animation: bounce 0.6s;
}

.feedback-hidden-error {
  animation: shake 0.6s;
}

.feedback-hidden-close {
  position: absolute;
  top: 15px;
  right: 15px;

  width: 18px;
  height: 18px;

  font-size: 0;

  background-color: transparent;
  border: 0;
  outline: none;
  cursor: pointer;
}

.feedback-hidden-close::before,
.feedback-hidden-close::after {
  content: "";
  position: absolute;
  top: 10px;
  right: 0;

  width: 25px;
  height: 2px;

  background: #323232;
  border-radius: 1px;
}

.feedback-hidden-close::before {
  transform: rotate(45deg);
}

.feedback-hidden-close::after {
  transform: rotate(-45deg);
}

.feedback-input {
  width: 267px;
  height: 42px;
  margin-bottom: 20px;
  padding-left: 15px;
  box-sizing: border-box;

  font-size: 14px;
  line-height: 24px;
  font-weight: 400;
  color: #323232;

  background: #ffffff;
  border: 1px solid #d3d3d2;
  border-radius: 5px;
  outline: none;
}

.feedback-hidden textarea {
  width: 100%;
  height: 155px;

  resize: none;
}

.feedback-hidden .label-box > label {
  top: -52px;
}

.feedback-hidden textarea + .label-box > label {
  top: -170px;
}

.feedback-hidden .btn-feedback {
  position: absolute;
  right: 25px;
  bottom: 25px;

  padding: 10px 25px;

  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
  color: #fefefe;

  border-style: none;
}

.requisites {
  position: absolute;
  top: 14.5%;
  right: 2.3%;
  z-index: 2;

  width: 302px;
  height: 302px;
  padding: 25px 25px;
  box-sizing: border-box;

  font: #323232;

  background-color: #ffffff;
  border-radius: 10px;
}

.requisites a {
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
  color: #fefefe;
}

.requisites span {
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
  color: #323232;
}

.requisites strong {
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
  color: #323232;
}

.requisites-strong {
  display: inline-block;
  margin-bottom: -4px;

  vertical-align: top;
}

.requisites-span {
  display: inline-block;
  margin-bottom: 4px;

  vertical-align: top;
}

.inner-nav {
  float: left;
  min-width: 500px;
  margin-top: 20px;
}

.breadcrumbs {
  margin: 0;
  padding: 0;

  font-size: 14px;
  line-height: 16px;
  font-weight: 400;
  color: #ffffff;

  list-style: none;
}

.breadcrumbs li:nth-child(3) {
  font-size: 14px;
  line-height: 16px;
  font-weight: 400;
  color: #ffffff;
}

.breadcrumbs a {
  font-size: 14px;
  line-height: 16px;
  font-weight: 400;
  color: #ffffff;
  text-decoration: none;

  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

.breadcrumbs li {
  display: inline-block;

  padding-right: 7px;

  vertical-align: top;
}

.breadcrumbs li:last-child {
  padding-right: 10px;
}

.breadcrumbs li:nth-child(1)::after,
.breadcrumbs li:nth-child(2)::after {
  content: "\00BB";

  width: 10px;
  height: 10px;
  padding-left: 7px;

  font-size: 14px;
  line-height: 16px;
  font-weight: 400;
  color: #ffffff;
}

.filter {
  margin-bottom: 40px;
}

.filter-text {
  padding-bottom: 5px;
  padding-left: 16px;

  font-size: 14px;
  line-height: 16px;
  font-weight: 500;
  color: #ffffff;
}

.sorting {
  float: left;
  width: 194px;
  margin-right: 15px;
}

.select {
  margin-top: 4px;
}

.sorting select {
  width: 100%;
  height: 36px;
  padding-left: 15px;

  font-size: 16px;
  line-height: 22px;
  font-weight: 400;
  color: #ffffff;
  text-indent: 0.01px;

  background-color: rgba(255,255,255,0.2);
  background-image: url("../img/select_white.png");
  background-position: 91% 53%;
  background-repeat: no-repeat;
  border: none;
  border-radius: 25px;

  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
}

.sorting select:hover,
.sorting select:focus {
  color: #000000;

  background-color: #ffffff;
  background-image: url("../img/select_dark.png");
  background-position: 91% 53%;
  background-repeat: no-repeat;

  outline: none;
  cursor: pointer;
}

.sorting select:focus option {
color: #000000;
outline:none;
}

.price-range {
  float: left;
  width: 219px;
  margin-right: 15px;
  box-sizing: border-box;
}

.price-range [type="text"] {
  width: 25px;

  font-size: 14px;
  line-height: 16px;
  font-weight: 500;
  color: #ffffff;

  background: transparent;
  border-style: none;
  outline: none;
}

.price-range span:nth-of-type(2),
.price-range span:nth-of-type(3) {
  padding-left: 0;
}

.range-controls {
  position: relative;

  width: 100%;
  padding: 16px 16px;
  margin-top: 4px;
  box-sizing: border-box;

  background: rgba(255, 255, 255, 0.19);
  border-radius: 20px;
  cursor: pointer;
}

.scale {
  width: 100%;
  height: 4px;
  background-color: rgba(255, 255, 255, 0.2);
}

.bar {
  width: 80px;
  height: 4px;
  margin-left: 38px;
  background-color: #ffffff;
}

.toggle {
  width: 20px;
  height: 20px;

  background-color: #ffffff;
  border-radius: 50%;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.1);
}

.toggle-min {
  position: absolute;
  top: 8px;
  left: 35px;
}

.toggle-max {
  position: absolute;
  top: 8px;
  left: 133px;
}

.toggle-min:hover {
  top: 6px;
  left: 33px;

  width: 24px;
  height: 24px;
}

.toggle-max:hover {
  top: 6px;
  left: 131px;

  width: 24px;
  height: 24px;
}

.fat-content {
  float: left;
  width: 414px;
}

.fat-radiobutton {
  margin-top: 4px;
  padding-top: 8px;
  padding-right: 2px;
  padding-bottom: 6px;
  padding-left: 15px;

  background-color: rgba(255, 255, 255, 0.19);
  border-radius: 20px;
}

.fat-radiobutton input {
  display: none;
}

.fat-radiobutton label {
  position: relative;

  display: inline-block;
  padding-right: 13px;
  padding-left: 32px;

  vertical-align: top;
}

.fat-radiobutton label:last-child {
  padding-right: 0;
}

.fat-radiobutton span::before {
  content: "";
  position: absolute;
  top: -1px;
  left: -2px;

  display: inline-block;
  width: 25px;
  height: 25px;

  vertical-align: top;

  background-image: url("../img/sprite.png");
  background-position: -572px -7px;
  background-repeat: no-repeat;
  cursor: pointer;
}

.fat-radiobutton span:hover::before {
  background-position: -297px -8px;
}

input[type="radio"]:checked + span::before  {
  background-position: -607px -7px;
}

input[type="radio"]:checked + span:hover::before  {
  background-position: -332px -8px;
}

input[type="radio"]:disabled + span::before,
input[type="radio"]:disabled + span:hover::before {
  background-position: -572px -7px;
  background-repeat: no-repeat;
  opacity: 0.4;
  cursor: default;
}

.filler {
  float: left;
  width: 703px;
  margin-top: 11px;
}

.filler-checkbox {
  margin-top: 4px;
  padding: 7px 18px;

  background-color: rgba(255, 255, 255, 0.19);
  border-radius: 20px;
}

.filler-checkbox input {
  display: none;
}

.filler-checkbox label {
  position: relative;

  display: inline-block;
  padding-right: 20px;
  padding-left: 30px;

  vertical-align: top;
}

.filler-checkbox label:last-child {
  padding-right: 0;
}

.filler-checkbox span::before {
  content: "";
  position: absolute;
  top: 1px;
  left: -5px;

  display: inline-block;
  width: 25px;
  height: 25px;

  background-image: url("../img/sprite.png");
  background-position: -648px -7px;
  background-repeat: no-repeat;
  cursor: pointer;
}

.filler-checkbox span:hover::before {
  background-position: -373px -8px;
}

input[type="checkbox"]:checked + span::before  {
  background-position: -688px -7px;
}

input[type="checkbox"]:checked + span:hover::before  {
  background-position: -413px -8px;
}

input[type="checkbox"]:disabled + span::before,
input[type="checkbox"]:disabled + span:hover::before {
  background-position: -647px -6px;
  background-repeat: no-repeat;
  opacity: 0.4;
  cursor: default;
}

.filter .btn-filter {
  float: left;
  width: 144px;
  margin-top: 37px;
  margin-left: 14px;
  padding: 7px 0;

  font-size: 16px;
  line-height: 18px;
  font-weight: 500;
  color: #ffffff;

  background-color: rgba(255, 255, 255, 0.19);
  border: 2px solid #ffffff;
  border-radius: 20px;
  cursor: pointer;
}

.filter .btn-filter:hover {
  padding: 8px 30px;

  color: #323232;

  background-color: rgba(255, 255, 255, 1);
  border-style: none;
}

.filter .btn-filter:active {
  padding: 8px 30px;

  background-color: #ededed;
  box-shadow: inset 0 2px 1px 0 #696969;
}

.catalog-main-title {
  margin-top: 0;
  margin-bottom: 22px;

  font-size: 35px;
  line-height: 41px;
  font-weight: 700;
  color: #ffffff;
}

.quick-view {
  position: absolute;
  top: -4.8%;
  left: -4.8%;
  z-index: 1;

  display: none;
  width: 100%;
  min-height: 100%;
  padding: 4.8%;
  padding-bottom: 80px;

  background: rgba(255, 255, 255, 0.2);
  border-radius: 10px;
  box-shadow: 0 20px 20px 0 rgba(0, 0, 0, 0.4);
}

.bestseller-price:hover .quick-view,
.catalog-item:hover .quick-view {
  display:block;
}

.bestseller-price:hover .product span,
.catalog-item:hover .product span {
  border-bottom: 0;
}

.bestseller-price:hover .image-price,
.catalog-item:hover .catalog-image-price {
  z-index: 2;
}

.bestseller-price:hover .btn-quick-view,
.catalog-item:hover .btn-quick-view {
  display:block;
}

.btn-quick-view {
  position: absolute;
  left: 50%;
  bottom: 23px;

  display: none;
  width: 168px;
  margin-left: -102px;
  padding: 12px 18px;

  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
  color: #ffffff;
}

.catalog {
  margin-bottom: 44px;
}

.product {
  position: relative;
  z-index: 10;

  display: inline-block;

  font-size: 16px;
  line-height: 22px;
  font-weight: 400;
  color: #ffffff;
  text-decoration: none;

  vertical-align: top;
}

.product span {
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

.product span:hover,
.product span:active {
  color: #ffbc9e;
  border-bottom: 1px solid rgba(255, 188, 158, 0.3);
}

.price {
  position: absolute;
  bottom: 15px;

  display: block;

  font-size: 45px;
  line-height: 45px;
  font-weight: 700;
  color: #ffffff;

  text-shadow: 1px 1px 3px rgba(49, 50, 53, 0.5);
}

.ruble-sign{
  padding-left: 30px;

  font-size: 30px;
  line-height: 45px;
  font-weight: 700;
  color: #ffffff;
}

.ruble-sign::before {
  content: "";
  position: absolute;
  left: 75px;

  width: 33px;
  height: 43px;

  background: url("../img/sprite.png");
  background-position: -1188px 1px;
  background-repeat: no-repeat;
}

.catalog-item {
  position: relative;

  float: left;
  width: 23.3%;
  margin-right: 2.2%;
  margin-bottom: 38px;
}

.catalog-item img {
  width: 100%;
  border-radius: 50%;
}

.catalog-item:nth-of-type(4n+1) {
  clear: both;
}

.catalog-item:nth-of-type(4n) {
  margin-right: 0;
}

.pagination {
  padding-bottom: 29px;

  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

.current-ref {
  padding: 4px 9px;

  font-size: 16px;
  line-height: 18px;
  font-weight: 400;
  color: #323232;
  text-decoration: none;

  background: rgba(255, 255, 255, 1);
  border-radius: 50%;
}

.page-ref {
  padding: 4px 9px;

  font-size: 16px;
  line-height: 18px;
  font-weight: 400;
  color: #ffffff;
  text-decoration: none;

  background: rgba(255, 255, 255, 0);
  border-radius: 50%;
}

.page-ref:hover {
  color: #323232;

  background: rgba(255, 255, 255, 0.3);
}

.page-ref:active {
  color: #323232;

  background: rgba(255, 255, 255, 1);
}

.pagination ul {
  float: right;
  margin: 0;
  padding: 0;

  list-style: none;
}

.pagination li {
  display: inline-block;
  width: 26px;
  height: 24px;
  padding-top: 2px;

  text-align: center;
  vertical-align: top;
}

.pagination li:first-child {
  width: 10px;
  height: 14px;
  padding: 0;
  padding-right: 10px;

  text-align: center;
  vertical-align: middle;

  background-image: url("../img/sprite.png");
  background-position: -765px -8px;
  background-repeat: no-repeat;
}

.pagination li:last-child {
  width: 10px;
  height: 14px;
  padding: 0;
  padding-left: 7px;

  text-align: center;
  vertical-align: middle;

  background-image: url("../img/sprite.png");
  background-position: -747px -8px;
  background-repeat: no-repeat;
}

.pagination li:last-child:hover {
  cursor: pointer;
}

.main-footer {
  min-height: 71px;
  margin-top: -6px;
}

.main-footer .container-inner {
  display: flex;
  margin-top: 36px;
  justify-content: space-between;
}

.footer-social {
  width: 208px;
  margin-top: 4px;
}

.footer-social ul,
.footer-documents ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.footer-documents li,
.footer-social li {
  display: inline-block;

  font-size: 0;

  vertical-align: top;
}

.footer-social li:last-child {
  margin-right: 0;
}

.footer-documents {
  position: relative;

  width: 356px;
  margin-top: 2px;
  margin-right: 1%;
}

.footer-documents a {
  font-size: 13px;
  line-height: 18px;
  font-weight: 400;
  color: #ffffff;
  text-decoration: none;

  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

.footer-documents a:hover,
.footer-documents a:active {
  color: #ffbc9e;

  border-bottom: 1px solid rgba(255, 188, 158, 0.3);
}

a.providers {
  font-weight: 700;
}

.footer-documents li {
  margin-right: 3%;
}

.footer-documents li:nth-child(odd) {
  padding-left: 24px;
}

.footer-documents li:first-child::before {
  content: "";
  position: absolute;
  top: 3px;
  left: 2px;

  width: 18px;
  height: 13px;

  background-image: url("../img/sprite.png");
  background-position: -728px -7px;
  background-repeat: no-repeat;
}

.footer-documents li:nth-child(2n) {
  width: 180px;
  float: right;
}

.footer-copyright {
  width: 190px;
  margin-top: -13px;

  font-size: 12px;
  line-height: 18px;
  font-weight: 400;
  color: #ffffff;
}

.footer-copyright a {
  font-size: 12px;
  line-height: 18px;
  font-weight: 400;
  color: #ffffff;
  text-decoration: none;

  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

.footer-copyright a:hover,
.footer-copyright a:active {
  color: #ffbc9e;

  border-bottom: 1px solid rgba(255, 188, 158, 0.3);
}

.footer-copyright img {
  display: block;
  margin-bottom: 6px;
  padding-left: 3px;
}

.social-btn {
  display: inline-block;
  width: 38px;
  height: 38px;
  margin-right: 7px;
  margin-left: 0;
  box-sizing: border-box;

  font-size: 0;

  vertical-align: top;
}

.social-btn-tw {
  background-image: url("../img/sprite.png");
  background-position: -5px -8px;
  background-repeat: no-repeat;
}

.social-btn-tw:hover {
  background-position: -977px -4px;
}

.social-btn-tw:active {
  background-position: -786px -4px;
}

.social-btn-inst {
  background-image: url("../img/sprite.png");
  background-position: -54px -8px;
  background-repeat: no-repeat;
}

.social-btn-inst:hover {
  background-position: -1030px -4px;
}

.social-btn-inst:active {
  background-position: -833px -4px;
}

.social-btn-fb {
  background-image: url("../img/sprite.png");
  background-position: -103px -8px;
  background-repeat: no-repeat;
}

.social-btn-fb:hover {
  background-position: -1136px -4px;
}

.social-btn-fb:active {
  background-position: -925px -4px;
}

.social-btn-vk {
  background-image: url("../img/sprite.png");
  background-position: -152px -8px;
  background-repeat: no-repeat;
}

.social-btn-vk:hover {
  background-position: -1083px -4px;
}

.social-btn-vk:active {
  background-position: -880px -4px;
}
